<div class="container">
	<h2>Our team</h2>
	
	<% number =  3 + 4 %>

	<h1>	<%= number %> Member </h1>

	<% members = %w( Seb Boris Romain) %>

	<ul class"list-inline>
		
		<% members.each do |member| %>
			<li><img src="http://placehold.it/30x30" alt="" class="img-circle"></li>
			<h3><%= member %></h3>
		<% end %>
	</ul>
</div>